body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ffffff;
}

header {
    background-color: #333;
    color: rgb(50, 208, 219);
    padding: 1em 0;
    text-align: center;
    width: 100%;
}

header h1 {
    margin: 0;
    color: #1c6581; /* Color corporativo azul cielo */
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1em 0 0;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: rgb(50, 208, 219);
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    flex: 1; /* Permite que el contenido principal ocupe todo el espacio disponible */
}

h2 {
    text-align: center;
    margin-top: 0;
    color: #1c6581; /* Color corporativo azul cielo */
}

.cluster {
    display: flex;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
}

.item {
    text-align: center;
    flex: 1 1 calc(25% - 1em);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1em;
}

.producto_img, .servicios_img {
    max-width: 20%;
    height: auto;
    width: 240px; /* Ancho de la imagen */
    max-height: 240px;
}

footer {
    background-color: #333;
    color: rgb(50, 208, 219);
    text-align: center;
    padding: 1em 0;
    margin-top: auto; /* Asegura que el pie de página se mantenga en la parte inferior */
}

/*MAPA*/

#map {
    width: 100%;
    height: 500px;
    margin: 0;
    padding: 0;
    display: block;
}

.map-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* GALERIA */

.gallery-container {
    position: relative;
    width: 80%;
    max-width: 600px;
    overflow: hidden;
    margin-top: 100px;
    margin-left: 34%;
    text-align: center;
}

.gallery {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    display: block;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}
